@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
/* ----------- 1.default-css----------- */
body{
    font-family: 'Roboto', sans-serif;   
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
.section-padding-top{
    padding-top: 100px;
}

.section-padding-bottom{
    padding-bottom: 100px;
}
.section-padding{
    padding: 100px 0px;
}
.section-margin{
    margin: 100px 0px;
}
.section-margin-top{
    margin-top:100px;
}
.section-margin-bottom{
    margin-bottom:100px;
}
/* ---------------------------------------- */
/* 01-category-box */
.category{
    background-image: url(../img/choose-bg.jpg);
    background-repeat: no-repeat;/* background-position:center; */
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
   
}

.category::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#18253e;
    opacity: .8;
    z-index: -1;
    
}
.category-title h6 {
    font-size: 16px;
    line-height: 24px;
    color: tomato;
}

.category-title h3 {
    font-size: 36px;
    line-height: 45px;
    color: #fff;
}

.category-title p {
    font-size: 16px;
    line-height: 27px;
    color: #fff;
}

.category-title {
    margin-bottom: 40px;
}

.category-logo {
    font-size: 70px;
    color: #60697B;
    transition: .5s;
    position: relative;
}

.category-logo:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    color: black;
    height: 100px;
    width: 100px;
}

.category-item h3 {
    color: #60697b;
    font-size: 22px;
    line-height: 26px;
    transition: .3s;
}

.category-item p {
    font-size: 16px;
    line-height: 27px;
    color: #60697B;
    transition: .3s;
}

.category-item {
    text-align: center;
    background: #fff;
    height: 260px;
    padding-top: 19px;
    border-radius: 10px;
    position: relative;
    transition: .5s;
    z-index: 1;
    padding: 10px;
    margin: 0px;
            
}

.category-item:before {
    content: "";
    left: 0;
    bottom: 0;
    height: 1%;
    width: 100%;
    background: #00152f;
    position: absolute;
    border-radius: 10px;
    transition: .5s;
    ;
}

.category-item:hover:before{
    height: 100%;
    background: #F93E45;
    z-index: -1;
}

.category-item:hover h3,
.category-item:hover p,
.category-item:hover i{
    color: #dddddd;
}

/* about-us-02 */
.about-us{
    margin-top: 400px;
}

.about-us-title h6{
    font-size: 16px;
    line-height: 24px;
    color: tomato;
}

.about-us-title h3{
    font-size: 36px;
    line-height: 45px;
    color: #1A273F;
}

.about-us-title p{
    font-size: 16px;
    line-height: 27px;
    color: #1A273F;
}

.about-us-list {
    text-align: center;
    height: 300px;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid rgb(109, 107, 107);
    position: relative;
    z-index: 1;
    
}


.about-us-list h3{
    font-size: 22px;
    line-height: 26px;
    transition: .3s;
}

.about-us-list p{
    transition: .3s;

}

.about-us-icon i {
    font-size: 70px;
    transition: .5s;
}

.about-us-icon {
    position: relative;
    z-index: 1;
    margin: 50px 0px;
}
.about-us-icon:before {
    position: absolute;
    content: "";
    background: rgb(253, 253, 253);
    height: 140px;
    width: 140px;
    top: -33px;
    left: 62px;
    z-index: -1;
    border-radius: 50%;
}

.about-us-list:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background:#F93E45;
    z-index: -1;
    transition: .5s;
}

.about-us-list:hover:before{
    height: 100%;
}

.about-us-list:hover.about-us-list h3,
.about-us-list:hover.about-us-list p{
    color: #fff;
}

.about-us-list:hover .about-us-icon i{ 
    transform: rotateY(350deg);
    color:#F93E45 ;

}

/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; 

*/